*.class

# Package Files #
*.jar
*.war
*.ear

# Misc files
*.DS_Store

build/*
canadensys_web_build.gradle
config/local/*.properties
config/production/*
config/test/*
gradle.properties
.gradle/*

tomcat.log
tomcat.log.lck
/bin
